.contact-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #096C3A;
    text-align: center;
}

.contact-info img{
    height: auto;
    padding: 0px 20px 0px 20px;
}

.contact-info p{
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    color: #096C3A;
    line-height: 39px;
}


.contact-info p a{
    color: #096C3A;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 16px;
}

.contact-info p a:hover{
    color: #7870C7;
}

.page-content>p{
    font-family: "Poppins", sans-serif;
    color: #323333c4;
    font-size: 16px;
    line-height: 26px;
    margin-top: 25px;
    padding-bottom: 10px;
}