
#deadline-timer{
    width: 60%;
    background-color: #f1f1f1;
    border: none;
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    padding: 0;
    justify-content: center;
}

#deadline-timer span{
    color: black;
    font-weight: 100;
}

#deadline-timer p{
    font-size: 3rem;
}

.page-content{
    background-color: #f1f1f1;
}

#minutes{
    color: green;
}

#seconds{
    color:#bfbfbf;
}

.cln-seperator{
    color: #bfbfbf;
    font-size: 3rem;
}
#hours::before,
#mins::before,
#secs::before {
    content: ""    
}

#deadline-info{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 35px;
    margin-bottom: 20px;

}

#dl-box{
    width: 33.3%;
}

.box{
    border: 1px solid red ;
    text-align: center;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

#deadline-info #dl-box:nth-child(1){
    background-color: white;
}
#deadline-info #dl-box:nth-child(2){
    background-color: #f1f1f1;
}
#deadline-info #dl-box:nth-child(3){
    background-color: #bfbfbf;
}

#dl-box i{
    color: #5472d2;
}

.box-info{
    font-family: "Poppins", sans-serif;
    color: #323333d8;
}