* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
}
:root {
    --color-primary: #147b47;
    --color-danger: #fd4f5e;
    --color-success: #1c7007;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111088;
    --color-dark-variant: 0677483;
    --color-background: #f6f6f9;
    --card-border-radius: 1.8rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.6rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 8rem  var(--color-light);   
}

a:hover{
    cursor: pointer;
}
section{
    /* height: 100vh; */
    overflow-x: hidden;
    font-family: "Oswald", sans-serif;
}

header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center; /* Centers horizontally */
    transition: box-shadow 0.3s ease-in-out;
    
}

.nav-shadow {
    /* box-shadow: 0px 10px 6px black; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.navbar {
    justify-content: space-around;
    height: 100%;
    width: 85%;
    flex-grow: 1;
    display: flex;
    gap: 10rem;
    
}

.logo {
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55px;
    width: 180px;
    align-self: center;
}

.navbar_tabs {
    height: 60px;
    min-width: 840px;
    justify-self: flex-end;
    
}

.nav_links{
    /* margin-left: 150px; */
    height: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.nav_links li{
    font-size: 12px;
    font-family: sans-serif, Oswald;
    padding: 10px;
    margin: 0;
}

.nav_links li a:hover{
    color: #efa506;
    transition: all 0.1s ease-in;
}

#active{
    color: #efa506;
}

.nav_links li a{
    color: white;
    display: flex;
}

.nav_links li a span{
    font-size: 15px;
}


.dropdown-menu {
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    background-color: #0a5a32;
    /* border: black; */
    padding: 5px 10px;
    box-shadow: 10px rgb(142, 139, 139);
    padding-bottom: 15px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 1s ease;
    
}

.nav_links li:hover .dropdown-menu{
    visibility: visible;
    margin-bottom: 0px;
    opacity: 1;
    transform: translateY(0); 
}



.dropdown-menu li{
    margin: 5px 0;
    padding: 6px 15px;
    font-size: 12px;
    color: #cdcdcd;
    
}

.dropdown-menu li:hover{
    padding-left: 16px;
    background-color: #7cb89a;
}

.dropdown-menu li:hover a{
    color: white;
}

.page_uno {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position-y: 50px;
    background-position-x: center;

    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    max-height: 900px;
    padding-top: 220px;
}

.c1 {
    padding: 28px;
    width: 556px;
    height: 224px;
    margin-left: 70px;
    
}
.c1 h1 {
    font-size: 43px;
    font-family: "Poppins", serif;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: flex;
    /* flex-direction: column;
    column-gap: 10px; */
}

.datetime {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0), 0 0 0.01em rgb(0, 0, 0);
}



.c1 .buttons{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.c1 .buttons button{
    height: 3rem;
    width: 250px;
    padding: 15px 20px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 3px;
}

.c1 .buttons button:hover{
    opacity: 0.9;
    scale: 0.9;
    transition: all 0.2s ease-in;
}

.registration {
    background-color: #6d6f71;
}

.submission {
    background-color: #096c3a;
}

.c2 {
    height: 200px;
    width: 100vw;
    display: flex;
}

.countdown{
    height: 100%;
    width: 60%;
    border-right: 3px solid #8a8d8d;
    background-color: #096c3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown div{
    height: 75px;
    width: 120px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

.countdown div span{
    color: white;
    opacity: 0.7;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
}

.days{
    color: #ec398b;
}

.hours{
    color: #fac400
}
.secs{
    color: white;
}

.hours p::before,
.mins p::before,
.secs p::before {
    content: ":";
    color: rgba(255, 255, 255, 0.267);
    padding-right: 6px;
}


.mins{
    color: rgba(255, 255, 255, 0.476);
}

.reg_now{
    background-color: #096c3a;
    height: 100%;
    width: 40%;
    border-left: 3px solid #8a8d8d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg_now button{
    width: 181px;
}

.pnk-btn {
    padding: 15px 30px;
    background: #ec398b;
    font-family: "Oswald", sans-serif;
    border: none;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;

}

.pnk-btn a{
    color: white;
}

.pnk-btn:hover{
    background-color: #ec398aa9;
    scale: 95%;
    transition: all 0.2s ease-in;
}

.page_duo{
    width: 100vw;
    height: auto; /* Change later*/
    background-color: #f1f1f1;
}

.speakers{
    padding: 100px 90px;
    height: auto;
    min-height: 200px;
    width: auto;
}

.speakers h2{
    color: #096c3a;
    font-weight: 900;
    font-size: 36px;
    margin-top: 20px;
}
.spkr-container{
    height: 35px;
}

.speakers button{
    background-color: #064c29;
    height: 50px;
    width: 240px;
    color: white;
    padding: 15px 40px;
    margin: 2px;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
}

.speakers button:hover{
    transition: all 0.2s ease-in;
    opacity: 0.8;
}

.why-ACCIC {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #096c3a;
    width: 100vw;
    height: 600px;
    padding-left: 100px;
}

.why-ACCIC h2{
    color: white;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    /* margin-left: 100px; */
    
}

.divider{
    height: 6px;
    margin-top: 5px;
    /* margin-left: 100px; */
    width: 10%;
    background-color:#ec398b ;
    
}

.why-ACCIC h3{
    font-size: 30px;
    margin: 30px 0px;
    color: white;
}

.why-ACCIC p{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.why-ACCIC p>span{
    font-style: 12px;
    font-family: "Poppins", sans-serif;
}

.why-ACCIC button{
    margin-top: 30px;
    height: 56px;
    width: 158px;
    border: none;   
}

.event-details{
    border: 1px solid black;
    padding:20px 90px ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.event-details .time-info p{
    color: #323333de;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0px 15px;
}

.time-info{
    width: 60%;
    height: 95%;
    /* border: 1px solid gray; */
}

.timetable{
    width: 100%;
    margin-top: 36px;
    /* border: 1px solid red; */
    border-spacing: 1px;
    font-family: "Poppins", sans-serif;
    
}
.timetable td, th{
    width: 50%;
    padding: 20px;
    text-align: left;
}

.timetable th{
    border: none;
    color: #fff;
}
    
.timetable td{
    background-color: #e9e9ee;
    color: #3e4040;
}

.timetable td:hover{
    background-color: #d3d3d7;
}

.timetable td a{
    color: #147b47;
}

.location-info{
    width: 30%;
    height: 390px;
    background-color: white;
    border-radius: var(--border-radius-2);
    box-shadow: 0px 5px 10px rgb(69, 69, 69);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #323333;
    margin: 5px 20px 20px;
    min-width: 250px;
}
.location-info a{
    color: #064c29;
    font-size:15px;
    font-weight: normal;
}

.location-info img{
    height: 60px;
    width: 60px;
}

.who-attends{
    width: 100%;
    height: auto;
    border: 1px solid saddlebrown;
    padding: 55px 100px;
    display: flex;
}

.cpnf-img{
    height: 390px;
    width: 50%;
    padding: 0px 15px;
}

.cpnf-img img{
    width: 95%;
}

.info{
    width: 50%;
    font-family: "Poppins", sans-serif;
    color: #323333b3;
}

.info p{
    margin-bottom: 12px;
}

.info strong{
    color: #323333db;
    font-size: 25px;
}

.info div{
    margin-top: 28px;
}

.grn-btn{
    background-color: #064c29;
    height: 50px;
    width: 240px;
    color: white;
    padding: 15px 40px;
    margin: 2px;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    border: none;
}

.grn-btn:hover{
    background-color: #064c2985;
    scale: 95%;
    transition: all 0.2s ease-in;
}

.info div button:first-child a{
    color: white;
}

.why-attend{
    width: 100%;
    height: auto;
    border: 1px solid violet;
    padding: 55px 100px;
    display: flex;   
    flex-direction: column;
}

.why-attend h4{ 
    font-size: 30px;
    font-weight: 700;
    color: #096C3A;

}

.why-attend p{
    color: #323333;
    font-family: "Poppins" ,sans-serif;
    text-align: justify;
}

.reasons{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 20px;

}

.box{
    height: 250px;
    width: 25%;
    border: 1px solid red ;
    text-align: center;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.box div span{
    font-size: 30px;
    font-weight: 300;
    color: #2A2A2A;
}

.box>p {
    font-weight: 700;
    text-align: center;
    color: #323333b5;
}

.reasons .box:nth-child(1){
    background-color: #eaeaea;
}
.reasons .box:nth-child(2){
    background-color: #e2e2e2;
}
.reasons .box:nth-child(3){
    background-color: #dbdbdb;
}
.reasons .box:nth-child(4){
    background-color: #c6c6c6;
}

.reg-fees{
    width: 100%;
    height: auto;
    border: 1px solid violet;
    padding: 15px 100px;
    display: flex;   
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.fees{
    background-color: white;
    padding: 30px 15px;
    margin-top: 50px;
    width: 100%;
}

.reg-fees p{
    color: #323333e1;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.fee-deadline{
    text-align: center;
}


.fee-deadline h2{
    color: #096C3A;
    font-weight: 900;
    font-size: 42px;
    font-family: "Poppins", sans-serif;
}

.fee-deadline h3{
    color: #EC398B;
    font-weight: 400;
    font-size: 20px;
    /* font-family: "Poppins", sans-serif; */
}

.fee-deadline p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #323333;
    font-weight: 400;
    margin: 16px;
    line-height: 26px;
}


/* Media Queries for Smaller Screens */
@media (max-width: 1024px) {
    .navbar_tabs {
        min-width: auto;
    }

    .c1 h1 {
        font-size: 2rem;
    }

    .why-ACCIC {
        height: auto;
        padding: 30px;
    }

    .who-attends {
        flex-direction: column;
        align-items: center;
    }

    .who-attends .info, .who-attends .cpnf-img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav_links {
        flex-direction: column;
        text-align: center;
    }

    .page_uno {
        height: auto;
        padding-top: 100px;
    }

    .c1 {
        width: 100%;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .c1 h1 {
        font-size: 1.8rem;
    }

    .buttons button {
        width: 100%;
    }
}
