* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body{
    /* height: 100%; */
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-size: 18px ;
}

body section{
    flex-grow: 1;
}


.menu-bar, .close{
    display: none;
}
:root {
    --color-primary: #147b47;
    --color-danger: #fd4f5e;
    --color-success: #1c7007;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111088;
    --color-dark-variant: 0677483;
    --color-background: #f6f6f9;
    --card-border-radius: 1.8rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.6rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 8rem  var(--color-light);   
}

a:hover{
    cursor: pointer;
}
a{
    color: white;
}
section{
    /* height: 100vh; */
    overflow-x: hidden;
    font-family: "Oswald", sans-serif;
}

header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center; 
    transition: box-shadow 0.3s ease-in-out;
    padding: 1px 10px;
    
}

.nav-shadow {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.463);
    animation: menu 0.4s ease-in;
}

@keyframes menu{
    0%{
        top: -10vh;
    }

    100%{
        top: 0;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    flex-grow: 1;
    border: 1px solid yellow;
    gap: 1.2rem;
    
}

.logo {
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 180px;
    min-width: 134px;
    align-self: center;
    border: 1px solid black;
}

/* MENU BUTTON (Mobile) */
.menu-btn {
    display: none;
    cursor: pointer;
    justify-self: flex-end;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
}

.menu-bar, .close {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
}

.navbar_tabs {
    /* width: 60%; */
    justify-self: flex-end;
    
}

.nav_links{
    /* margin-left: 150px; */
    height: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.nav_links li{
    font-size: 0.75rem;
    font-family: "Oswald" ,sans-serif;
    padding: 10px;
    margin: 0;
}

.nav_links li a span:hover{
    color: #efa506;
    transition: all 0.1s ease-in;
}

#active{
    color: #efa506;
}

.nav_links li a{
    color: white;
    display: flex;
}

.nav_links li a span, input{
    font-size: 0.93rem;
}

.menu-label{
    display: none;
}


.dropdown-menu {
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    background-color: #0a5a32;
    padding: 5px 10px;
    box-shadow: 10px rgb(142, 139, 139);
    padding-bottom: 15px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 1s ease;
    
}

.nav_links li:hover .dropdown-menu{
    visibility: visible;
    margin-bottom: 0px;
    opacity: 1;
    transform: translateY(0); 
}



.dropdown-menu li{
    margin: 5px 0;
    padding: 6px 15px;
    font-size: 0.75rem;
    color: #cdcdcd;
    
}

.dropdown-menu li:hover{
    padding-left: 16px;
    background-color: #7cb89a;
}

.dropdown-menu li:hover a{
    color: white;
}

.page_uno {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position-y: 50px;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    /* padding-top: 220px; */
}

.c1 {
    padding: 28px;
    width: 556px;
    height: 224px;
    margin-left: 70px;
    border: 1px solid violet;
    
}
.c1 h1 {
    font-size: 2.68rem;
    font-family: "Poppins", serif;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: flex;
}

.datetime {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0), 0 0 0.01em rgb(0, 0, 0);
}



.c1 .buttons{
    display: flex;
    gap: 10px;
    margin-top: 40px;   
}

.c1 .buttons button{
    max-height: 3rem;
    max-width: 250px;
    padding: 15px 20px;
    color: white;
    font-family: sans-serif;
    font-size: 1.125rem;
    border-radius: 3px;
}

.c1 .buttons button:hover{
    opacity: 0.9;
    scale: 0.9;
    transition: all 0.2s ease-in;
}

.registration {
    background-color: #6d6f71;
}

.submission {
    background-color: #096c3a;
}

.c2 {
    height: 200px;
    width: 100vw;
    display: flex;
}

.countdown{
    height: 100%;
    width: 60%;
    border-right: 3px solid #8a8d8d;
    background-color: #096c3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown div{
    height: 75px;
    width: 120px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

.countdown div span{
    color: white;
    opacity: 0.7;
    font-size: 0.93rem;
    font-family: "Oswald", sans-serif;
}

.days{
    color: #ec398b;
}

.hours{
    color: #fac400
}
.secs{
    color: white;
}

.hours p::before,
.mins p::before,
.secs p::before {
    content: ":";
    color: rgba(255, 255, 255, 0.267);
    padding-right: 6px;
}


.mins{
    color: rgba(255, 255, 255, 0.476);
}

.reg_now{
    background-color: #096c3a;
    height: 100%;
    width: 40%;
    border-left: 3px solid #8a8d8d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg_now button{
    width: 181px;
}

.pnk-btn {
    padding: 15px 30px;
    background: #ec398b;
    font-family: "Oswald", sans-serif;
    border: none;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 2px;
    font-weight: 500;

}

.pnk-btn a{
    color: white;
}

.pnk-btn:hover{
    background-color: #ec398aa9;
    scale: 95%;
    transition: all 0.2s ease-in;
}

.page_duo{
    width: 100vw;
    height: auto; /* Change later*/
    background-color: #f1f1f1;
}

.speakers{
    padding: 100px 90px;
    height: auto;   
    min-height: 200px;
    width: auto;
}

.speakers h2{
    color: #096c3a;
    font-weight: 900;
    font-size: 2.25rem;
    margin-top: 20px;
}
.spkr-container{
    height: 35px;
}

.speakers button{
    background-color: #064c29;
    height: 50px;
    width: 240px;
    color: white;
    padding: 15px 40px;
    margin: 2px;
    font-size: 0.75rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
}

.speakers button:hover{
    transition: all 0.2s ease-in;
    opacity: 0.8;
}

.why-ACCIC {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #096c3a;
    width: 100vw;
    height: 600px;
    padding-left: 100px;
}

.why-ACCIC h2{
    color: white;
    font-size: 2.81825rem;
    font-family: "Poppins", sans-serif;
    /* margin-left: 100px; */
    
}

.divider{
    height: 6px;
    margin-top: 5px;
    /* margin-left: 100px; */
    width: 10%;
    background-color:#ec398b ;
    
}

.why-ACCIC h3{
    font-size: 1.875rem;
    margin: 30px 0px;
    color: white;
}

.why-ACCIC p{
    font-size: 1.875rem;
    font-family: "Poppins", sans-serif;
}

.why-ACCIC p>span{
    font-style: 12px;
    font-family: "Poppins", sans-serif;
}

.why-ACCIC button{
    margin-top: 30px;
    height: 56px;
    width: 158px;
    border: none;   
}

.event-details{
    border: 1px solid black;
    padding:20px 90px ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.event-details .time-info p{
    color: #323333de;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0px 15px;
}

.time-info{
    width: 60%;
    height: 95%;
    /* border: 1px solid gray; */
}

.timetable{
    width: 100%;
    margin-top: 36px;
    /* border: 1px solid red; */
    border-spacing: 1px;
    font-family: "Poppins", sans-serif;
    
}
.timetable td, th{
    width: 50%;
    padding: 20px;
    text-align: left;
}

.timetable th{
    border: none;
    color: #fff;
}
    
.timetable td{
    background-color: #e9e9ee;
    color: #3e4040;
}

.timetable td:hover{
    background-color: #d3d3d7;
}

.timetable td a{
    color: #147b47;
}

.location-info{
    width: 30%;
    height: 390px;
    background-color: white;
    border-radius: var(--border-radius-2);
    box-shadow: 0px 5px 10px rgb(69, 69, 69);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #323333;
    margin: 5px 20px 20px;
    min-width: 250px;
}
.location-info a{
    color: #064c29;
    font-size:15px;
    font-weight: normal;
}

.location-info img{
    height: 60px;
    width: 60px;
}

.who-attends{
    width: 100%;
    height: auto;
    border: 1px solid saddlebrown;
    padding: 55px 100px;
    display: flex;
}

.cpnf-img{
    max-height: 390px;
    width: 50%;
    padding: 0px 15px;
}

.cpnf-img img{
    width: 95%;
}

.info{
    width: 50%;
    font-family: "Poppins", sans-serif;
    color: #323333b3;
}

.info p{
    margin-bottom: 12px;
}

.info strong{
    color: #323333db;
    font-size: 25px;
}

.info div{
    margin-top: 28px;

}

.grn-btn{
    background-color: #064c29;
    height: 50px;
    width: 240px;
    color: white;
    padding: 1px 10px;
    margin: 2px;
    font-size: 0.875rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
}

.grn-btn:hover{
    background-color: #064c2985;
    scale: 95%;
    transition: all 0.2s ease-in;
}

.info div button:first-child a{
    color: white;
}

.why-attend{
    width: 100%;
    height: auto;
    border: 1px solid violet;
    padding: 55px 100px;
    display: flex;   
    flex-direction: column;
}

.why-attend h4{ 
    font-size: 1.875rem;
    font-weight: 700;
    color: #096C3A;

}

.why-attend p{
    color: #323333;
    font-family: "Poppins" ,sans-serif;
    text-align: justify;
}

.reasons{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 20px;

}

.box{
    height: 250px;
    width: 25%;
    border: 1px solid red ;
    text-align: center;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.box div span{
    font-size: 1.875rem;
    font-weight: 300;
    color: #2A2A2A;
}

.box>p {
    font-weight: 700;
    text-align: center;
    color: #323333b5;
}

.reasons .box:nth-child(1){
    background-color: #eaeaea;
}
.reasons .box:nth-child(2){
    background-color: #e2e2e2;
}
.reasons .box:nth-child(3){
    background-color: #dbdbdb;
}
.reasons .box:nth-child(4){
    background-color: #c6c6c6;
}

.reg-fees{
    width: 100%;
    height: auto;
    border: 1px solid violet;
    padding: 15px 100px;
    display: flex;   
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.fees{
    background-color: white;
    padding: 30px 15px;
    margin-top: 50px;
    width: 100%;
}

.reg-fees p{
    color: #323333e1;
    font-size: 1.5625rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.fee-deadline{
    text-align: center;
}


.fee-deadline h2{
    color: #096C3A;
    font-weight: 900;
    font-size: 2.625rem;
    font-family: "Poppins", sans-serif;
}

.fee-deadline h3{
    color: #EC398B;
    font-weight: 400;
    font-size: 1.25rem;
    /* font-family: "Poppins", sans-serif; */
}

.fee-deadline p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #323333;
    font-weight: 400;
    margin: 16px;
    line-height: 26px;
}

/* Footer */
footer {
    height: 10%;
    width: 100vw;
    background-color: var(--color-primary);
}

.footer{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 37px;
    line-height: 21px;
}

.footer h3{
    align-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: #ffff;
}


/* Media Queries for Smaller Screens */
@media (max-width: 1024px) {
    
    .event-details div {
        width: 100%;
    }
    .c1 h1 {
        font-size: 2rem;
    }

    .why-ACCIC {
        height: auto;
        padding: 30px;
        font-size: calc(100% / 4);
        text-align: left;
    }


    .who-attends{
        gap: 20px;
    }



    .who-attends {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .who-attends .info, .who-attends .cpnf-img {
        width: 100%;
    }
} 

@media (max-width: 768px) {
    body{
        font-size: 15px;
    }
    
    .page_uno {
        height: 80vh;
        padding-top: 100px;
    }

    .c1 {
        width: 100%;
        margin-left: 10px;
    }

    .c1 button{
        width: auto;
    }

    .c1 div{
        flex-direction: column;
    }

    .c1,.datetime{
        text-align: center;
    }

    

    .speakers{
        padding: 30px;

    }

    .c2{
        flex-direction: column;
    }
    .c2 div{
        width: 100%;
        border: none;
    }
    
    .buttons {
        /* flex-direction: column; */
        align-items: center;
    }

    .event-details{
        padding: 15px 30px;
    }

}

/* RESPONSIVE DESIGN */

@media (max-width: 1000px) {

    
    .nav_links li {
        font-size: 10px;
    }
}


@media (max-width: 774px) {
    .navbar {
        width: 100%;
        padding: 0 15px;
        justify-content: space-between;
    }

    .nav_links {
        border-top: 1px solid white;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 80%;
        height: 85vh;
        justify-content: start;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-primary);
        padding: 20px 10px;
        display: none; /* Initially hidden */
        box-shadow: 2px 3px 5px rgba(36, 36, 36, 0.848);
    }

    .nav_links li {
        padding: 10px 0;
    }

    .menu-btn {
        display: block;
        position: absolute;
        right: 10vw;
        top: 3vh;
    }

    /* .menu-bar:hover .nav_links{
        display: flex;
    } */

    .menu-bar {
        display: block;
    }

    .nav_links.active {
        display: flex;
        animation: menuSlide 0.2s ease-in;
        /* height: 70%; */
    }
    @keyframes menuSlide{
        0%{
            top: -100%;
        }

        100%{
            top: 0;
        }
    }

    .nav_links.active li{
        font-size: 0.9rem;
    }

    /* .nav_links li:hover .dropdown-menu{
        visibility: hidden;
    } */
    /* .nav_links li:active .dropdown-menu{
        visibility: visible;
    } */

    .dropdown-menu{
        position: absolute;
        display: flex;
        width: 100%;
        height: 500px;
        background-color: #055c30ad;
        top: 0;
        right: 0;
    }

    #container #toggleElement{
        display: none;
    }
    #container .menu-label{
        display: flex;
        margin-left: 5px;
    }

    #menu-toggle:checked  .dropdown-menu{
        /* display: flex; */
        background-color: #064c29;
        max-height: auto;
    }

    .c1 h1,div{
        text-align: center;
    }

    .info{
        width: 100%;
    }

    .cpnf-img{
        width: 100%;
        padding: 0;
    }

    .who-attends,.why-attend{
        padding: 30px;
    }

    .who-attends .info>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reg-fees{
        padding: 10px;
    }

    .fees{
        padding: 25px 10px;
    }

    .fee-deadline h2{
        font-size: 1.5rem;
    }
    .box{
        width: 50%;
    }
    .close {
        display: block;
    }
}


@media (max-width: 480px) {
    body{
        font-size: 9px;
    }

    .c1 h1 {
        font-size: 1.8rem;
    }

    .buttons button {
        width: 100%;
    }
} 

@media (max-width: 350px) {
    body{
        font-size: 9px;
    }

    .page_uno{
        height: 130vh;
    }
    
    .reg-fees{
        padding: 0;
        font-size: 2em;
    }

    .location-info{
        margin-left: 0;
    }
}