* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #147b47;
    --color-danger: #fd4f5e;
    --color-success: #1c7007;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111088;
    --color-dark-variant: 0677483;
    --color-background: #f6f6f9;
    --card-border-radius: 1.8rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.6rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 8rem  var(--color-light);   
}

a:hover{
    cursor: pointer;
}
section{
    /* height: 100vh; */
    overflow-x: hidden;
}

header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center; /* Centers horizontally */
}


.navbar {
    height: 100%;
    width: 85%;
    display: flex;
    gap: 10rem;
    /* border:1px solid white; */
    
}

.logo {
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55px;
    width: 180px;
    align-self: center;
}

.navbar_tabs {
    height: 60px;
    width: 840px;
    justify-self: flex-end;

}

.nav_links{
    margin-left: 150px;
    height: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.nav_links li{
    font-size: 12px;
    font-family: sans-serif, Oswald;
    padding: 10px;
    margin: 0;
}

.nav_links li a:hover{
    color: #efa506;
    transition: all 0.1s ease-in;
}

#active{
    color: #efa506;
}

.nav_links li a{
    color: white;
    display: flex;
}

.nav_links li a span{
    font-size: 15px;
}


.dropdown-menu {
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    background-color: #0a5a32;
    /* border: black; */
    padding: 5px 10px;
    box-shadow: 10px rgb(142, 139, 139);
    padding-bottom: 15px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 1s ease;
    
}

.nav_links li:hover .dropdown-menu{
    visibility: visible;
    margin-bottom: 0px;
    opacity: 1;
    transform: translateY(0); 
}



.dropdown-menu li{
    margin: 5px 0;
    padding: 6px 15px;
    font-size: 12px;
    color: #cdcdcd;
    
}

.dropdown-menu li:hover{
    padding-left: 16px;
    background-color: #7cb89a;
}

.dropdown-menu li:hover a{
    color: white;
}

.page_uno {
    background-image: url(./images/banner.jpg);
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-top: 220px;
}

.c1 {
    padding: 28px;
    width: 556px;
    height: 224px;
    margin-left: 70px;
    
}
.c1 h1 {
    font-size: 43px;
    font-family: "Poppins", serif;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: flex;
    /* flex-direction: column;
    column-gap: 10px; */
}

.datetime {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0), 0 0 0.01em rgb(0, 0, 0);
}



.c1 .buttons{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.c1 .buttons button{
    height: 3rem;
    width: 250px;
    padding: 15px 20px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 3px;
}

.c1 .buttons button:hover{
    opacity: 0.9;
    scale: 0.9;
    transition: all 0.2s ease-in;
}

.registration {
    background-color: #6d6f71;
}

.submission {
    background-color: #096c3a;
}

.c2 {
    height: 200px;
    width: 100vw;
}

.countdown{
    height: 100%;
    width: 60%;
    border-right: 5px solid #3233332d;
    background-color: #096c3a;
}